:root {
	--bg-color: #141d28;
	--side-bar-bg-color: #090b10;
	--control-text-color: #a9aaab;
	--primary-color: #efb752;
	--primary-btn-border-color: #f0b752;
	--active-file-text-color: inherit;
	--active-file-border-color: #f0b752;
	--active-file-bg-color: #131c29;
	--primary-btn-text-color: #f0b752;
	--window-border: 1px solid #16161a;
	--item-hover-bg-color: #1a283d;
	--item-hover-text-color: #f0b752;
	--meta-content-color: #f0b752;
	--search-select-text-color: #f0b752;
	--text-color: #fff;
	--control-text-color: var(--text-color);
	--control-text-hover-color: var(--text-color);
	--heading-char-color: #f0b752;
}

.dropdown-menu {
	background-color: #1a283d !important;
	border-color: #313d50 !important;
}

@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: normal;
	src: local("Nunito Sans Regular"), url("lakers/nunito/NunitoSans-Regular.woff") format("woff");
}

@font-face {
	font-family: 'Nunito';
	font-style: italic;
	font-weight: normal;
	src: local("Nunito Sans It"), url("lakers/nunito/NunitoSans-Italic.woff") format("woff");
}

@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: bold;
	src: local("Nunito Sans Bold"), url("lakers/nunito/NunitoSans-ExtraBold.woff") format("woff");
}

@font-face {
	font-family: 'Nunito';
	font-style: italic;
	font-weight: bold;
	src: local("Nunito Sans Bold Italic"), url("lakers/nunito/NunitoSans-ExtraBoldItalic.woff") format("woff");
}

html {
	background: #141b28;
	font-size: 0.925rem;
}

body {
	background: #141b28;
	color: #a9aaab;
	font-family: "Nunito", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	height: 100%;
	line-height: 1.6;
}

#write {
	color: #fff;
	margin: 0 auto;
	max-width: 800px;
	padding: 30px;
	padding-bottom: 100px;
	position: static;
	width: 90%;
}

#write>ul:first-child, #write>ol:first-child {
	margin-top: 30px;
}

a {
	color: #71bfd9;
}

h1, h2, h3, h4, h5, h6 {
	cursor: text;
	font-weight: bold;
	line-height: 1.4;
	margin-bottom: 1rem;
	margin-top: 1rem;
	position: relative;
}

#write h1, #write h2, #write h3, #write h4, #write h5, #write h6, #write pre {
	color: #efb752;
	width: auto;
}

#write h1::before, #write h2::before, #write h3::before, #write h4::before, #write h5::before, #write h6::before {
	border-radius: 0;
	bottom: 0;
	color: #517090;
	float: none;
	font-size: 1rem;
	font-variant: 'small-caps';
	font-weight: bold;
	left: auto;
	line-height: 20px;
	padding: 0;
	position: absolute;
	right: calc(100% + 10px);
	vertical-align: baseline;
}

#write h1 {
	font-size: 3.2rem;
	margin: 0.6rem 0;
}

#write h1::before {
	bottom: 1.45rem;
	content: 'H1';
}

#write h2 {
	font-size: 1.8rem;
	margin: 0.7rem 0;
}

#write h2::before {
	bottom: 0.2rem;
	content: 'H2';
}

#write h3 {
	font-size: 1.2rem;
	margin: 0.5rem 0;
}

#write h3::before {
	bottom: 0.18rem;
	content: 'H3';
}

#write h4 {
	font-size: 1rem;
	margin: 0.2rem 0;
}

#write h4::before {
	content: 'H4';
	bottom: 0.15rem;
}

#write h5, #write h6 {
	font-size: 1rem;
	margin: 0;
}

#write h5::before, #write h6::before {
	bottom: 0.1rem;
}

#write h5::before {
	content: 'H5';
}

#write h6::before {
	content: 'H6';
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
	text-decoration: none;
}

h1 tt, h1 code {
	font-size: inherit;
}

h2 tt, h2 code {
	font-size: inherit;
}

h3 tt, h3 code {
	font-size: inherit;
}

h4 tt, h4 code {
	font-size: inherit;
}

h5 tt, h5 code {
	font-size: inherit;
}

h6 tt, h6 code {
	font-size: inherit;
}

h1 {
	border-bottom: 1px solid #f79f2a;
	font-size: 3.25em;
	line-height: 1.2;
	padding-bottom: 0.3em;
}

h2 {
	border-bottom: 1px solid #f79f2a;
	font-size: 2.75em;
	line-height: 1.225;
	padding-bottom: 0.3em;
}

h3 {
	font-size: 1.8em;
	line-height: 1.43;
}

h4 {
	font-size: 1.45em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1em;
}

p, blockquote, ul, ol, dl, table {
	margin: 0.8em 0;
}

#write ol, #write ul {
	padding-left: 2rem;
	margin: .5rem 0;
}

#write ol>li, #write ul>li {
	color: #f0b752;
}

#write ol>li>*, #write ul>li>* {
	color: #fff;
}

#write ol>li>*:not(ol):not(ul), #write ul>li>*:not(ol):not(ul) {
	padding-left: .25rem;
}

#write ul {
	list-style-type: disc;
}

hr {
	background-color: #f0b752;
	border: 0 none;
	box-sizing: content-box;
	height: 2px;
	margin: 16px 0;
	overflow: hidden;
	padding: 0;
}

li p.first {
	display: inline-block;
}

ul, ol {
	padding-left: 30px;
}

ul:first-child, ol:first-child {
	margin-top: 0;
}

ul:last-child, ol:last-child {
	margin-bottom: 0;
}

blockquote {
	font-family: 'Nunito', 'Times New Roman', serif;
	margin: 1rem 0 1rem 2rem;
	position: relative;
}

blockquote::before {
	background: #f0b752;
	content: '';
	height: 100%;
	left: -2rem;
	position: absolute;
	width: 0.25rem;
}

table {
	font-size: 0.875rem;
	padding: 0;
	word-break: initial;
}

table tr {
	border-top: 1px solid #57708d;
	margin: 0;
	padding: 0;
}

thead {
	background-color: #324963;
	color: #9dbbdd;
}

table tr th {
	border: 1px solid #57708d;
	border-bottom: solid 2px #fff;
	border-bottom: 0;
	font-weight: bold;
	margin: 0;
	padding: 10px 16px;
}

table tr td {
	background: #192534;
	border: 1px solid #57708d;
	margin: 0;
	padding: 10px 16px;
}

table tr th:first-child, table tr td:first-child {
	margin-top: 0;
}

table tr th:last-child, table tr td:last-child {
	margin-bottom: 0;
}

.CodeMirror-lines {
	padding: 4px 0;
}

.code-tooltip {
	background: #1a283d;
	border-top: 1px solid #1a283d;
	box-shadow: 0 1px 1px 0 rgba(0, 28, 36, 0.3);
}

.dropdown-menu {
	color: #70c0d8;
	margin-right: 5px;
}

.file-action-item.not-empty-menu-group.show {
	background: #1a283d;
	border-color: #1a283d;
}

.sidebar-footer-main-item #sidebar-files-menu {
	background: #1a283d;
	border-color: #303d50 !important;
	color: #6db7d1;
}

.file-action-item.not-empty-menu-group.show a:hover, .dropdown-menu a:hover {
	background-color: #1a283d !important;
	color: #f4c25e !important;
}

.info-panel-tab.active, .info-panel-tab.active a {
	background: #000 !important;
}

.info-panel-tab.active {
	background: #000 !important;
}

.info-panel-tab-border {
	background: #000 !important;
	border-color: #000 !important;
}

.file-action-item a {
	color: #70bed9 !important;
}

.md-fences,

tt {
	border-radius: 3px;
	color: #b9bcba;
	font-size: 0.9em;
	padding: 0;
}

code {
	background-color: #6952b6;
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
	line-height: 1;
	padding: 5px 7px 2px 7px;
}

.md-fences {
	margin-bottom: 15px;
	margin-top: 15px;
	padding-bottom: 6px;
	padding-top: 8px;
}

.md-task-list-item>input {
	background: #1a283d;
	margin-left: -1.3em;
}

@media print {
	html {
			font-size: 13px;
	}
	table, pre {
			page-break-inside: avoid;
	}
	pre {
			word-wrap: break-word;
	}
}

.md-fences {
	/* background-color: #f8f8f8; */
}

#write pre.md-meta-block {
	background-color: #1a283d;
	border: 0;
	border-radius: 3px;
	color: #fff;
	font-size: 85%;
	line-height: 1.45;
	margin-top: 0 !important;
	padding: 1rem;
}

.mathjax-block>.code-tooltip {
	bottom: 0.375rem;
}

.md-mathjax-midline {
	background: #fafafa;
}

#write>h3.md-focus:before {
	left: -1.5625rem;
	top: 0.375rem;
}

#write>h4.md-focus:before {
	left: -1.5625rem;
	top: 0.285714286rem;
}

#write>h5.md-focus:before {
	left: -1.5625rem;
	top: 0.285714286rem;
}

#write>h6.md-focus:before {
	left: -1.5625rem;
	top: 0.285714286rem;
}

.md-image>.md-meta {
	border-radius: 3px;
	color: inherit;
	font-size: 0.9em;
	padding: 2px 0px 0px 4px;
}

.md-tag {
	color: #70bfd9;
	opacity: 1;
}

.md-toc {
	margin-top: 20px;
	padding-bottom: 20px;
}

.sidebar-tabs {
	border-bottom: 1px solid #090b11;
	font-weight: normal;
}

#typora-sidebar .sidebar-tabs {
	border-bottom: 1px solid #090b11;
	font-family: 'Nunito' !important;
	font-weight: bold;
}

#typora-sidebar .file-list-item-file-name {
	color: #71bfd9;
	font-family: 'Nunito';
	font-weight: bold;
}

#file-library-list-children {
	background: #141d28;
}

#typora-sidebar .file-list-item-summary, #typora-sidebar .ty-search-item-line {
	color: #c4d4ed;
	font-family: 'Nunito';
}

.file-list-item-file-ext-part {
	color: #57708d;
	opacity: 1;
}

.active .file-list-item-file-ext-part {
	color: #1b1531;
	font-weight: bold;
}

.file-list-item.file-library-node.file-library-file-node {
	background: #151b27;
	border-color: #090c11;
	opacity: 1;
}

.file-list-item.file-library-node.file-library-file-node:hover {
	background: #090c11;
	color: #fff;
}

#typora-sidebar #outline-content .outline-h1>.outline-item {
	font-family: 'Nunito';
}

.info-panel-tab-wrapper {
	background: #1a283d !important;
	border-color: #1a283d !important;
}

#typora-sidebar .file-tree-node.file-library-file-node.active .file-node-background, #typora-sidebar .file-list-item.file-library-file-node.active {
	background: #493a7e;
	border-left: 4px solid #f0b752;
	color: #fff;
}

.file-library-node:not(.file-node-root):focus>.file-node-content {
	outline: none;
	border-color: #151d2b;
}

#typora-sidebar .file-list-item.file-library-file-node:hover {
	background: #18202d;
}

#typora-sidebar .file-list-item.file-library-file-node.active .file-list-item-file-name-part {
	color: #f0b752;
}

#typora-sidebar .file-list-item.file-library-file-node.active:hover {
	background: #403173;
}

#typora-sidebar {
	color: #83bed6;
}

.file-node-title {
	color: #83bed6;
}


/* menu button hover */

.sidebar-footer-item:hover {
	background: none !important;
}

#typora-sidebar .file-tree-node.file-library-file-node {
	padding: 0;
}

#typora-sidebar .file-tree-node.file-library-file-node.active .file-node-title {
	color: #efb752;
	color: #fff;
}

#typora-sidebar .file-tree-node.file-library-file-node:hover .file-node-title {
	color: #efb752;
}

#typora-sidebar .file-tree-node.file-library-file-node.active:hover .file-node-title {
	color: #fff;
}

#typora-sidebar .file-tree-node {
	border: 0;
	margin: 0;
	padding: 0;
}

.file-node-icon {
	color: #70bfd9;
	margin-right: 8px;
	margin-right: 10px;
}

.active .file-node-icon {
	color: #fff;
}

.file-library-node.file-tree-node {
	margin: 0;
	padding: 0;
}

.file-library-node.file-tree-node.file-library-file-node .file-node-title {
	color: #e7f3fd;
}

.file-library-node.file-tree-node.file-library-file-node:hover {
	color: #fff;
}

.file-node-background {
	padding: 3px 10px;
}

.file-node-content {
	padding: 3px 5px;
}

.file-node-content:hover {
	cursor: pointer;
}

.active .file-node-content {
	font-weight: bold;
}

#typora-quick-open {
	background-color: #464646;
	border: 1px solid yellow;
}

#typora-quick-open-item {
	background-color: #131c29;
	border-color: #090c11;
	border-style: solid;
	border-width: 1px;
	color: #fff;
}


/** focus mode */

.on-focus-mode blockquote {
	border-left-color: rgba(85, 85, 85, 0.12);
}

header, .context-menu, .megamenu-content, footer {
	font-family: "Nunito", "Arial", sans-serif;
}

.megamenu-opened header {
	background-image: none;
}

#typora-sidebar #ty-sidebar-footer {
	background-color: #131b29 !important;
	border-top: 1px solid #090b10;
}

.megamenu-menu-header {
	border-bottom: 1px solid #090b10;
}

.megamenu-menu-list li:not(.saved) a:not(.active):hover, .megamenu-menu-list li a.active {
	background: #101010 !important;
}

.file-node-content:hover .file-node-icon, .file-node-content:hover .file-node-open-state {
	visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
	background-color: #090c12;
	border-right: 1px solid #090c12;
	font-weight: 100;
}

.md-lang {
	color: #b4654d;
}

.html-for-mac .context-menu {
	--item-hover-bg-color: #090c12;
}

input {
	color: #82bed6;
}

#searchpanel-word-option-btn, #find-and-replace-icon-word, #find-and-replace-icon-case, .searchpanel-search-option-btn, .icon, .glyphicon .popover, .popover-title {
	color: #82bed6 !important;
	fill: #82bed6 !important;
}

#md-notification .btn {
	border: 0;
}

.long-btn:hover {
	background-color: #82bed6;
}

.show-word-count #footer-word-count {
	background: #000;
}

#recent-file-panel-action-btn {
	background-color: #82bed6;
}

.dropdown-menu .divider {
	border-color: #303d50;
}

.ty-preferences .window-content {
	background-color: #fafafa;
}

.ty-preferences .nav-group-item.active {
	background: #999;
	color: white;
}

.cm-s-inner {
	border: 1px solid #324560;
	border-radius: 0.25rem;
	padding: 0.5rem 0.2rem;
}

.cm-s-inner.CodeMirror, .cm-s-inner .CodeMirror-gutters {
	background-color: #192133 !important;
	border: 1px solid #324560;
}

.cm-s-inner .CodeMirror-gutters {
	border: 0;
	color: #6d8a88;
	width: 5ch;
}

.cm-s-inner .CodeMirror-cursor {
	border-left: solid thin #f8f8f2 !important;
}

.cm-s-inner .CodeMirror-linenumber {
	color: #6D8A88;
	width: 4ch !important;
}

.cm-s-inner .CodeMirror-line::selection, .cm-s-inner .CodeMirror-line::-moz-selection, .cm-s-inner .CodeMirror-line>span::selection, .cm-s-inner .CodeMirror-line>span::-moz-selection, .cm-s-inner .CodeMirror-line>span>span::selection, .cm-s-inner .CodeMirror-line>span>span::-moz-selection {
	background: rgba(255, 255, 255, 0.1);
}

.cm-s-inner span.cm-comment {
	color: #6272a4;
}

.cm-s-inner span.cm-string, .cm-s-inner span.cm-string-2 {
	color: #f1fa8c;
}

.cm-s-inner span.cm-number {
	color: #bd93f9;
}

.cm-s-inner span.cm-variable, .cm-s-inner span.cm-variable-2 {
	color: #50fa7b;
}

.cm-s-inner span.cm-def {
	color: white;
}

.cm-s-inner span.cm-operator {
	color: #ff79c6;
}

.cm-s-inner span.cm-keyword {
	color: #ff79c6;
}

.cm-s-inner span.cm-atom {
	color: #bd93f9;
}

.cm-s-inner span.cm-meta {
	color: #f8f8f2;
}

.cm-s-inner span.cm-tag {
	color: #ff79c6;
}

.cm-s-inner span.cm-attribute {
	color: #50fa7b;
}

.cm-s-inner span.cm-qualifier {
	color: #50fa7b;
}

.cm-s-inner span.cm-property {
	color: #66d9ef;
}

.cm-s-inner span.cm-builtin {
	color: #50fa7b;
}

.cm-s-inner span.cm-variable-3, .cm-s-inner span.cm-type {
	color: #ffb86c;
}

.md-fences.md-focus .cm-s-inner .CodeMirror-activeline-background {
	background: rgba(255, 255, 255, 0.1);
}

.cm-s-inner .CodeMirror-matchingbracket {
	color: white !important;
	text-decoration: underline;
}

.cm-s-inner .CodeMirror-selected, .cm-s-inner .CodeMirror-selectedtext {
	background: #3b4254 !important;
	color: inherit;
	text-shadow: none;
}

#write>p:first-child:empty {
	position: static;
}

#write>p:first-child:not(:only-child)::before, #write>p:only-child::before {
	background: url("lakers/splash.png") no-repeat 0% 0% transparent;
	background-size: cover;
	bottom: 0;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	max-width: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

#write>p:only-child:empty::before {
	opacity: 1;
}

html {
	font-size: 19px;
}

html, body {
	margin: auto;
	background: #fefefe;
}
body {
	font-family: "Vollkorn", Palatino, Times;
	line-height: 1.4;
	text-align: justify;
}

#write {
	max-width: 960px;
	margin: 0 auto;
	margin-bottom: 2em;
	line-height: 1.53;
	padding-top: 40px;
}

@media only screen and (min-width: 1400px) {
	#write {
		max-width: 1100px;
	}
}

/* Typography
-------------------------------------------------------- */

#write>h1:first-child,
h1 {
	margin-top: 1.6em;
	font-weight: normal;
}

h1 {
	font-size:3em;
}

h2 {
	margin-top:2em;
	font-weight: normal;
}

h3 {
	font-weight: normal;
	font-style: italic;
	margin-top: 3em;
}

h1, 
h2, 
h3{
	text-align: center;
}

h2:after{
	border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    display: block;
    margin: 0 auto;
    height: 1px;
}

h1+h2, h2+h3 {
	margin-top: 0.83em;
}

p,
.mathjax-block {
	margin-top: 0;
	-webkit-hypens: auto;
	-moz-hypens: auto;
	hyphens: auto;
}
ul {
	list-style: square;
	padding-left: 1.2em;
}
ol {
	padding-left: 1.2em;
}
blockquote {
	margin-left: 1em;
	padding-left: 1em;
}
code,
pre {
	font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
	font-size: .9em;
}
.md-fences{
	margin-left: 1em;
	padding-left: 1em;
	padding-bottom: 8px;
	padding-top: 6px;
	margin-bottom: 1.5em;
}

a {
	color: #2484c1;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: none;
}
h1 a,
h1 a:hover {
	color: #333;
	text-decoration: none;
}
hr {
	color: #ddd;
	height: 1px;
	margin: 2em 0;
	border-top: solid 1px #ddd;
	border-bottom: none;
	border-left: 0;
	border-right: 0;
}
.ty-table-edit {
	background: #ededed;
    padding-top: 4px;
}
table {
	margin-bottom: 1.333333rem
}
table th,
table td {
	padding: 8px;
	line-height: 1.333333rem;
	vertical-align: top;
	border-top: 1px solid #ddd
}
table th {
	font-weight: bold
}
table thead th {
	vertical-align: bottom
}
table caption+thead tr:first-child th,
table caption+thead tr:first-child td,
table colgroup+thead tr:first-child th,
table colgroup+thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
	border-top: 0
}
table tbody+tbody {
	border-top: 2px solid #ddd
}

.task-list{
	padding:0;
}

.md-task-list-item {
	padding-left: 1.6rem;
}

.md-tag {
	color: inherit;
	font: inherit;
}
#write pre.md-meta-block {
	min-height: 35px;
	padding: 0.5em 1em;
}
#write pre.md-meta-block {
	white-space: pre;
	background: #f8f8f8;
	border: 0px;
	color: #999;
	
	width: 100vw;
	max-width: calc(100% + 60px);
	margin-left: -30px;
	border-left: 30px #f8f8f8 solid;
	border-right: 30px #f8f8f8 solid;

	margin-bottom: 2em;
	margin-top: -1.3333333333333rem;
	padding-top: 26px;
	padding-bottom: 10px;
	line-height: 1.8em;
	font-size: 0.9em;
	font-size: 0.76em;
	padding-left: 0;
}
.md-img-error.md-image>.md-meta{
	vertical-align: bottom;
}
#write>h5.md-focus:before {
	top: 2px;
}

.md-toc {
	margin-top: 40px;
}

.md-toc-content {
	padding-bottom: 20px;
}

.outline-expander:before {
	color: inherit;
	font-size: 14px;
	top: auto;
	content: "\f0da";
	font-family: FontAwesome;
}

.outline-expander:hover:before,
.outline-item-open>.outline-item>.outline-expander:before {
		content: "\f0d7";
}

/** source code mode */
#typora-source {
	font-family: Courier, monospace;
    color: #6A6A6A;
}

.html-for-mac #typora-sidebar {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.cm-s-typora-default .cm-header, 
.cm-s-typora-default .cm-property,
.CodeMirror.cm-s-typora-default div.CodeMirror-cursor {
	color: #428bca;
}

.cm-s-typora-default .cm-atom, .cm-s-typora-default .cm-number {
	color: #777777;
}

.typora-node .file-list-item-parent-loc, 
.typora-node .file-list-item-time, 
.typora-node .file-list-item-summary {
	font-family: arial, sans-serif;
}

.md-task-list-item>input {
    margin-left: -1.3em;
    margin-top: calc(1rem - 12px);
}

.md-mathjax-midline {
	background: #fafafa;
}

.md-fences .code-tooltip {
	bottom: -2em !important;
}

.dropdown-menu .divider {
	border-color: #e5e5e5;
}

.fa-folder:before {
	color: #f0b752;
}

.mac-seamless-mode titlebar {
	color: #fff;
}

titlebar, content {
	background: #141d28;
}